.product {
    width: 290px;
    margin: 0 auto;
}

.product_image-wrapper {
    border: 1px solid #ECECEC;
    border-radius: 12px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.product_info {
    display: flex;
    justify-content: space-between;
}

.product_title {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 14px;
}

.product_more {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #2238FF;
    padding-right: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.product_more:hover,
.product_more:focus {
    color: #0017E5;
}

.product_more:active {
    color: #8793FF;
}

@media (min-width: 768px) {
    .product {
        width: 340px;
    }

    .product_image-wrapper {
        height: 340px;
    }

    .product_image {
        width: 235px;
    }

    .product_image-wrapper {
        margin-bottom: 20px;
    }
}

@media (min-width: 1024px) {
    .product {
        width: 370px;
    }

    .product_image-wrapper {
        height: 370px;
    }

    .product_image {
        width: 255px;
    }

    .product_image-wrapper {
        margin-bottom: 24px;
    }
    
    .product_info {
        margin-bottom: 24px;
    }
    
    .product_title {
        font-size: 24px;
    }
    
    .product_price {
        font-size: 24px;
    }

    .product_more {
        font-size: 16px;
    }
}